body{
    background-color: #f7f7f7;
}
.container{
    margin: 50px auto;
    max-width: 960px;
}
a{
    text-decoration: none;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}
table, th, td{
    border: 1px solid #bbb;
    text-align: left;
}
th{
    background-color: #ddd;
}
th,td{
    padding: 5px;
}
button{
    cursor: pointer;
}
.tablemanager th.sorterHeader{
    cursor : pointer;
}
.tablemanager th.sorterHeader:after{
    content: '\f0dc';
    font-family: 'FontAwesome';
}
.tablemanager th.sortingDesc:after{
    content: '\f0dd';
    font-family: 'FontAwesome';
}
.tablemanager th.sortingAsc:after{
    content: '\f0de';
    font-family: 'FontAwesome';
}

#for_numrows{
    padding: 10px;
    float: left;
}
#for_filter_by{
    padding: 10px;
    float: right;
}
#pagesControllers{
    display:block;
    padding: 10px;
    text-align: right;
}