.footer{
    margin: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    padding: 7px 15px;
    color: black;
    background-color: transparent;
    /* font-size: 20px; */
    cursor: pointer;
    border: none;
}
button.active, button:hover{
background: linear-gradient(to bottom, grey 0%, black 100%);
color: white;
}